.categories-container {
  .categories-tittle {
    font-family: Helvetica;
    margin-left: 1em;
    font-size: 4em;
  }
}
@media screen {
  .categories-container {
    .categories-tittle {
      font-size: 3em;
    }
  }
}
