.search-container {
  font-family: Helvetica;
  .cart-shop {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 40em;
    overflow: scroll;
    background: black;
    margin: 3% 3%;
    padding: 4em;
    overflow-x: hidden;
    .cart-tittle {
      font-size: 5em;
      padding: 0;
      color: white;
      margin-left: 0;
      margin-block-start: 0;
      margin-block-end: 0.4em;
      margin-inline-start: 0.2em;
      margin-inline-end: 0px;
    }
    .cart-count {
      position: relative;
      display: flex;
      flex-direction: column;
      background: #f4f4f4 0% 0% no-repeat padding-box;
      height: 8em;
      padding: 2em;
      button {
        background: #5b17aa;
      }
    }
  }
}

@media (max-width: 580px) {
  .search-container {
    .cart-shop {
      padding: 0;
      margin: 0;
      grid-template-columns: 1fr;
      .cart-tittle {
        font-size: 3em;
      }
    }
  }
}
