@import '../../sass/index.scss';

.a-header__shoppingCartButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vh;
  height: 6vh;
  button {
    background: none;
    border: none;
    svg {
      width: 4em;
      height: 4em;
    }
  }
  .burble {
    display: flex;
    position: absolute;
    background: $purple;
    width: 1.5em;
    height: 1.5em;
    top: 0;
    left: 4vh;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    span {
      font-size: 1em;
      font-weight: bold;
      color: $white;
    }
  }
}

@media (max-width: 576px) {
  .a-header__shoppingCartButton {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    button {
      margin-top: 1vh;
      svg {
        width: 2.3em;
        height: 2.3em;
      }
    }
    .burble {
      top: 1.5vh;
      left: 3.5vh;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header__shoppingCartButton {
    button {
      svg {
        width: 4em;
        height: 4em;
      }
    }
  }
}
