@import '../../sass/index.scss';

.a-header__shoppingCartButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vh;
  height: 6vh;
  button {
    background: none;
    border: none;
    svg {
      width: 4em;
      height: 4em;
    }
  }
  .burble {
    display: flex;
    position: absolute;
    background: $purple;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    left: 2.3em;
    top: 0em;
    justify-content: center;
    align-items: center;
    span {
      font-size: 1em;
      font-weight: bold;
      color: $white;
    }
  }
}

@media (max-width: 576px) {
  .a-header__shoppingCartButton {
    width: 25vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    button {
      svg {
        width: 2.3em;
        height: 2.3em;
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header__shoppingCartButton {
    button {
      svg {
        width: 4em;
        height: 4em;
      }
    }
  }
}
