@import '../../sass/index.scss';

.a-header__shoppingCartButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 3.5em;
  button {
    background: none;
    border: none;
    svg {
      width: 4em;
      height: 4em;
    }
  }
  .burble {
    display: flex;
    position: absolute;
    background: $purple;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    left: 2.3em;
    top: 0em;
    justify-content: center;
    align-items: center;
    span {
      font-size: 1em;
      font-weight: bold;
      color: $white;
    }
  }
}
