.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 1em;
  justify-content: center;
  align-items: center;
  // grid-gap: 1em;
  padding: 0.9em;

  .hamburger-menu {
    font-size: 4em;
    // margin: 0;
    display: none;
  }
  .icon {
    align-self: center;
    margin-bottom: 1em;
  }
  .buttons-container {
    width: 23.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .userIcon {
      justify-self: flex-start;
      height: 2.5em;
      width: 2.5em;
    }
  }
}

@media (max-width: 580px) {
  .header {
    display: grid;
    height: auto;
    grid-template-columns: 4em 17em 6em;
    grid-template-rows: auto auto;
    grid-template-areas:
      'hamburger icon cart'
      'search search search';
    justify-content: center;
    grid-gap: 0.2em 1em;

    .hamburger-menu {
      display: inline-block !important;
      grid-area: hamburger;
      font-size: 4em;
      &:focus {
        outline: none !important;
      }
      &:focus-within {
        outline: none !important;
      }
    }
    .icon {
      grid-area: icon;
      width: 17em;
    }
    .buttons-container {
      .userIcon {
        display: none;
      }
      .a-core__button-secondary {
        display: none;
      }
      grid-area: cart;
      width: 3em;
    }
    .a-header__SearchBar {
      grid-area: search;
      justify-self: start;
    }
  }
}
