.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 6px #00000015;
  padding: 0.9em;
  width: 100vw;
  img {
    width: 22vw;
  }

  .hamburger-menu {
    font-size: 4em;
    // margin: 0;
    display: none;
  }
  .icon {
    align-self: center;
  }
  .buttons-container {
    width: 23.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .userIcon {
      justify-self: flex-start;
      height: 2.5em;
      width: 2.5em;
    }
  }
}

@media (max-width: 580px) {
  .header {
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'hamburger icon cart'
      'search search search';
    justify-content: center;
    grid-gap: 2vh 0;
    padding: 0 1vh 0 1vh;

    .hamburger-menu {
      justify-self: end;
      align-self: center;
      display: unset;
      grid-area: hamburger;
      font-size: 6vh;
      height: 3vh;
      width: 10vh;
      &:focus {
        outline: none !important;
      }
      &:focus-within {
        outline: none !important;
      }
    }
    .icon {
      grid-area: icon;
      align-self: end;
      width: 50vw;
    }
    .buttons-container {
      justify-self: start;
      align-self: start;
      .userIcon {
        display: none;
      }
      .a-core__button-secondary {
        display: none;
      }
      grid-area: cart;
      width: auto;
    }
    .a-header__SearchBar {
      justify-self: center;
      grid-area: search;
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header {
    grid-template-columns: 30vw 45vw 15vw !important;
    grid-gap: 3vw;
    img {
      width: 28vw !important;
    }
    .buttons-container {
      width: 0 !important;
      justify-self: center;
      .userIcon {
        display: none;
      }
      .a-core__button-secondary {
        display: none;
      }
    }
  }
}
