@import '../../sass/index.scss';
.navbar-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 2vh;
  div {
    margin-left: 3vw;
    margin-right: 3vw;
    a {
      font-family: Helvetica, sans-serif;
      font-weight: bold;
      color: $white;
      font-size: 3vh;
      text-decoration: none;
    }
  }
}
