.home-container {
  .card-slider-container {
    display: grid;
    justify-content: center;
    margin: 1em;
    .title {
      justify-self: center;
      font-size: 2.75em;
      font-family: Helvetica !important;
    }
  }
  .card-slider {
    width: 90vw;
    height: 90vh;
  }
}

@media (max-width: 580px) {
  .home-container {
    .card-slider-container {
      .title {
        font-size: 1.3em;
      }
      .card-slider {
        width: 50;
        margin-bottom: 0;
      }
    }
  }
}
