.footer-container {
  display: grid;
  grid-template-rows: 1fr 4em;
  background: black;
  .information-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    div {
      color: white;
      justify-self: center;
      font-family: Helvetica;

      h4 {
        margin: 1em 1em 1em 0 !important;
        font-size: 3vh;
        margin: 0.7em;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          font-size: 1.5em;
        }
      }
      &.social {
        .icons {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
  }
  .copyrigth-container {
    color: white;
    height: 2em;
    display: flex;
    flex-direction: column;
    hr {
      width: 95%;
    }
    .copyrigth {
      font-family: Helvetica;
      font-weight: normal;
      font-size: 1.5em;
      justify-self: center;
      align-self: center;
    }
  }
}

@media (max-width: 580px) {
  .footer-container {
    width: 100vw;
    .information-container {
      display: flex;
      flex-direction: column;
      margin-left: 10%;
      div {
        justify-self: start;
        ul {
          li {
            display: none;
          }
        }
        &.social {
          width: 80vw;
        }
      }
    }
    .copyrigth-container {
      height: 4em;
      hr {
        width: 95%;
      }
      .copyrigth {
        font-size: 2vh;
      }
    }
  }
}
